@model Beach.SA.Models.Reserva

@{
    ViewData["Title"] = "Delete";
}
<h3>Estas seguro de eliminar esta reserva?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaqueteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaqueteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadNoches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadNoches)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoTotalColones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoTotalColones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoTotalDolares)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoTotalDolares)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoPrima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoPrima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetodoPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCheque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCheque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activa)
        </dd>
    </dl>
    
    <form asp-action="DeleteConfirmed">
        <input type="hidden" name="ReservaId" value="@Model.ReservaId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Vuelta a clientes</a>
    </form>
</div>
